.PasswordRecovery {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.PasswordRecovery .button-container {
    display: flex;
    justify-content: center;
}


h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #b1b1b1;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}